input {
    color: white;
    background-color: rgb(156, 156, 156);
    font-size: 0.9rem;
}

ion-select {
    font-size: 0.7rem;
}

ion-input {
    font-size: 0.7rem;
}

ion-card {
    background-color: rgb(209, 209, 209);
    border-radius: 10px;
}